snippet t "Simple tag" b
	<${1:tag}>
		${2:${VISUAL}}
	</${1/([\w:._-]+).*/$1/}>

snippet ti "Inline tag" b
	<${1:tag}>${2:${VISUAL}}</${1/([\w:._-]+).*/$1/}>

snippet log "log in console"
	console.log($1);

snippet br "br"
	<br />
