snippet fori "for i in range"
	for i in range($1):
		$2

snippet main "main funciton"
	def main():
		${1:pass}

	if __name__ == '__main__':
		main()

snippet pr "pring"
	print($1)

snippet im "import"
	import

snippet #co "coding utf8"
	# -*- coding: utf-8 -*-
