snippet fori "for i in range"
for i in range($1):
	$2
endsnippet

snippet main "main thread"
if __name__ == '__main__':
	${1:pass}
endsnippet

snippet pr "pring"
print($1)
endsnippet

snippet im "import"
import
endsnippet

snippet #co "coding utf8"
# -*- coding: utf-8 -*-
endsnippet

snippet test_py
`!p snip.rv = "result = " + str(4**2+2*4+1)`
endsnippet
